@page "/modal"

<h1>Blazored Modal Sample</h1>

<hr class="mb-5" />

<button @onclick="ShowModal" class="btn btn-primary">Show Modal</button>

@code { [CascadingParameter] public IModalService Modal { get; set; }

    void ShowModal() => Modal.Show<Confirm>("Welcome to Blazored Modal"); }